@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              &nbsp;  @User.Identity?.Name!
            </a>
            <ul class="dropdown-menu">
                <li class="nav-item">
                    <a class="dropdown-item " asp-area="Identity" asp-page="/Account/Manage/Index">&nbsp; Go to Profile</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item " href="#">&nbsp; Carts</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item " asp-controller="Orders" asp-action="Index">&nbsp; Orders</a>
                </li>
              @*   <li><hr class="dropdown-divider"></li> *@
            </ul>
        </li>
       <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link ">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="text-dark" asp-area="Identity" asp-page="/Account/Register">
            <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-person-add"></i>&nbsp;Register</button>
        </a>
    </li>
    <li class="nav-item">
        <a class="text-dark" asp-area="Identity" asp-page="/Account/Login">
            <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-person-bounding-box"></i>&nbsp;Login</button>
        </a>
    </li>
}
</ul>
