@model Restaurant

@{
    ViewData["Title"] = "Create Restaurant";
    ViewData["IsEditable"] = true;
}

<div class="col-8 mx-auto">
    <div class="card shadow border-1 my-4">
        <div class="card-header bg-primary bg-gradient ml-0 py-3">
            <div class=" row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2"> Create Restaurant</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-12">
                    <form class="row" method="post">
                        <partial name="_RestaurantFormPartial" model="@Model" view-data="ViewData"></partial>
                        <div class="row pt-2 ">
                            <div class="col-6  col-md-3">
                                <button type="submit" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col-6   col-md-3">
                                <a asp-controller="Restaurant" asp-action="Index" class="btn btn-outline-primary border form-control">Back to list</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById('updateImageButton').addEventListener('click', function () {
            console.log("Clicked lol");
            var input = document.createElement('input');
            input.type = 'file';
            input.accept = 'image/*';
            input.onchange = function (event) {
                var file = event.target.files[0];
                if (file) {
                    var formData = new FormData();
                    formData.append('image', file);
                    formData.append('key', "4d196b587c2bc1f1fcae2d0f22973a7e")
                    fetch('https://api.imgbb.com/1/upload', {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                document.getElementById('imageInput').value = data.data.display_url;
                            } else {
                                alert('Failed to upload image. Please try again.');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('An error occurred. Please try again.');
                        });
                }
            };
            input.click();
        });
    </script>
}
