@model Batates.Models.Restaurant

@{
    ViewData["Title"] = "Restaurant Details";
    ViewData["IsEditable"] = false;
}

<div class="col-8 mx-auto">
    <div class="card shadow border-1 my-4">
        <div class="card-header bg-primary bg-gradient ml-0 py-3">
            <div class=" row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2"> Restaurant Details</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-8">
                    <partial name="_RestaurantFormPartial" view-data="ViewData"></partial>

                </div>
                <div class="col-4">
                    @if (Model.ImageURL != null)
                    {
                        <div class=" p-1 m-2 text-center">
                            <img src="@Model.ImageURL" width="100%"
                                 style="border-radius:5px; border:1px solid #bbb9b9" />
                        </div>
                    }

                </div>
            </div>
            <hr />
            <div class="row pt-2 ">
                <div class="col-6 col-md-3">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border form-control">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</div>
