@model IEnumerable<Batates.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<div class="card shadow border-1 my-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Product" asp-action="Create" class="btn btn-primary"> <i class="bi bi-plus-circle"></i>  Create New Product
                </a>
            </div>
        </div>

        <table id="productTable" class="table table-bordered  text-center ">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Restaurant)
                    </th>
                     <th></th>  
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>





@section Scripts
{
     <script src="~/js/product.js"></script> 
}
 
